{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans "Dashboard" %} | MarketShot{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/dashboard_navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}


<!-- FOOTER -->
{% block footer %}
<footer class="p-6 text-center text-xs text-slate-400 border-t border-slate-200 dark:border-slate-800 lg:ms-[260px]">
    &copy; 2026 MarketShot Studio. {% trans "All rights reserved." %}
</footer>
{% endblock %}